<form class="create-form" role="form" ng-submit="createBookmarkCtrl.createBookmark(createBookmarkCtrl.newBookmark)" novalidate>
    <div class="form-group">
        <label for="newBookmarkTitle">Bookmark Title</label>
        <input type="text" class="form-control" id="newBookmarkTitle" ng-model="createBookmarkCtrl.newBookmark.title" placeholder="Enter Title">
    </div>
    <div class="form-group">
        <label for="newBookmarkUrl">Bookmark Url</label>
        <input type="text" class="form-control" id="newBookmarkUrl" ng-model="createBookmarkCtrl.newBookmark.url" placeholder="Enter Url">
    </div>
    <button type="submit" class="btn btn-info btn-lg">Create</button>
    <button type="button" class="btn btn-default btn-lg pull-right" ng-click="createBookmarkCtrl.cancelCreating()">Cancel</button>
</form>
